body {
  font-family: Special Elite, sans-serif;
  background-image: url(http://inspiredaustin.com/upload/1024x0-images-about-old-paper-texture-on-pinterest-old-paper-690127.jpg);
  background-size: cover;
}
  
h1 {
  font-size: 160 px;
  text-align: center;
  position: relative;
  }
  
p {
  font-size: 12 px;
  text-align: center;
  position: relative;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

