@font-face {
  font-family: 'Calson';
  src: url('https://www.fontsquirrel.com/fonts/im-fell-english-pro'); 
}

body {
  font-family: 'Calson', Fallback, sans-serif;
  background-image: url(https://www.dropbox.com/s/v3wathbw0m1wrw9/paperTextureBackground5.jpg?dl=0);
  background-size: cover;
}
  
h1 {
  font-size: 72 px;
  text-align: center;
  position: relative;
  }
  
p {
  font-size: 12 px;
  text-align: center;
  color: black;
  position: relative;
}
