* {
  background-image: url(https://s-media-cache-ak0.pinimg.com/564x/92/f4/a0/92f4a03d6ac3e7da883f64dde6c4f5eb.jpg);
  background-size: cover;
  font-family: Calson English Roman;
}

h1 {
  font-size: 45 px;
  }
  
p {
  font-size: 12 px;
}
